# Py scanner
# A metasploit like tool but for scanning and retrieving data from websites.
# Github: https://www.github.com/0x4248/pyscan
# Licence: GNU General Public License v3.0
# By: 0x4248

colorama==0.4.6
requests==2.32.4